body {
  background: linear-gradient(135deg, #6e7dff, #00c6ff);
  color: #fff;
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  font-family: 'Arial', sans-serif;
}

.App-logo {
  position: absolute;
  top: 20px;
  left: 20px;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background: linear-gradient(135deg, #606eea, #00ffea);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 20px;
  box-sizing: border-box;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

footer {
  font-size: 1rem;
  color: #888;
  margin-top: 30px;
}

footer span {
  color:  #61dafb;
}

footer p {
  font-weight: bold;
  margin: 10px;
}

h2 {
  color: black;

}

.DownloadDiv {
  background-color: #f4f4f4;
  padding: 50px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 600px;
  margin: auto;
}

.DownloadDiv h1 {
  color: #333;
  font-size: 2rem;
  margin-bottom: 20px;
}

.DownloadDiv input {
  padding: 12px 20px;
  width: 80%;
  margin:2%;
  border-radius: 5px;
  border: 1px solid #ddd;
  margin-right: 10px;
  font-size: 1rem;
  transition: border 0.3s;
}

.DownloadDiv input:focus {
  border: 1px solid #61dafb;
  outline: none;
}

.DownloadDiv button {
  border-radius: 5px;
  background-color:  #61dafb;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s;
}

.DownloadDiv button:hover {
  background-color: #61dafb;
}

.DownloadDiv select {
  padding: 12px;
  border-radius: 5px;
  border: 1px solid #ddd;
  font-size: 1rem;
  margin-top: 10px;
  width: 100%;
}

.DownloadDiv img {
  width: 100%;
  max-width: 500px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
